$primaryBtn: lightblue;
$helveticaFamily: Helvetica, Arial, sans-serif;

@mixin theme($theme: DarkGray) {
  background: $theme;
  box-shadow: 0 0 1px rgba($theme, 0.25);
  color: #fff;
}

header {
  background-color: $primaryBtn;
  display: flex;
  justify-content: center;
}

header {
  font : {
    size: 12px;
    decoration: bold;
    family: $helveticaFamily;
  }
}

.info {
  @include theme;
}
