$primaryBtn: lightblue;
$helveticaFamily: Helvetica, Arial, sans-serif;

header {
  background-color: $primaryBtn;
  display: flex;
  justify-content: center;
}

header {
  font : {
    size: 12px;
    decoration: bold;
    family: $helveticaFamily;
  }
}
